footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  border-top: 1px solid #e0e0e0;
  font-size: 1.1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-decoration: none;
  margin: 0 10px;
  color: #a4ae92;
}
