footer {
  width: 100%;
  background: linear-gradient(45deg, #2e8b57, #1a472a);
  border-bottom: 1px solid #E8EBED;
  text-align: center;
  padding: 1.2em;
  font-size: 1rem;
  bottom: 0;
}


p {
  text-decoration: none;
  margin: 0 10px;
  color: white;
}
