<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-brand button-navbar" *ngIf="isLoggedIn()">Strona główna</a>
  </div>
  <div class="navbar-right">
    <a href="/account" class="navbar-link button-navbar" *ngIf="isLoggedIn()">Moje Konto</a>
    <a href="/pet/create" class="navbar-link button-navbar" *ngIf="isLoggedIn()">Dodaj zwierzaka</a>
    <a href="/sign-in" class="navbar-link button-navbar" *ngIf="!isLoggedIn()">Zaloguj się / Zarejestruj się</a>
    <button (click)="logout()" class="navbar-link button-navbar" *ngIf="isLoggedIn()">Wyloguj</button>
  </div>
</nav>
