<div class="login-container">
  <div class="wrapper">
    <div class="sign-in-container">
      <h2>Cieszymy się, że tu jesteś! Zaloguj się.</h2>
      <form [formGroup]="signInForm" (ngSubmit)="signIn()" autocomplete="off">

        <div class="form-group">
          <label for="email">E-mail</label>
          <input matInput formControlName="email" id="email" type="email" placeholder="Wpisz e-mail"/>
          <mat-error *ngIf="signInForm.get('email')?.hasError('required')">Email jest wymagany</mat-error>
          <mat-error *ngIf="signInForm.get('email')?.hasError('email')">Podaj poprawny adres email</mat-error>
        </div>

        <div class="form-group password-group">
          <label for="password">Hasło</label>
          <div class="password-input-container">
            <input
              matInput
              formControlName="password"
              id="password"
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Wpisz hasło"
            />
            <button
              mat-icon-button
              type="button"
              (click)="togglePasswordVisibility()"
              class="toggle-password"
              aria-label="Toggle password visibility"
            >
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
          <mat-error *ngIf="signInForm.get('password')?.hasError('required')">Hasło jest wymagane</mat-error>
          <mat-error *ngIf="signInForm.get('password')?.hasError('minlength')">Hasło musi mieć co najmniej 6 znaków</mat-error>
        </div>

        <div class="forgot-password">
          <a [routerLink]="['/zapomniane-haslo']">Zapomniane hasło? To zdarza się najlepszym!</a>
        </div>

        <button type="submit" class="btn btn-primary">Zaloguj się</button>
      </form>

      <div class="new-client">
        <p>Pierwszy raz? Witamy.</p>
        <button [routerLink]="['/sign-up']" type="button" class="btn btn-secondary">Utwórz konto</button>
      </div>
    </div>
  </div>

  <div class="info-section">
    <img src="assets/siatka.png" alt="Siatka" class="image" />
  </div>
</div>
