/* Kontener główny */
.login-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  /*background-color: #fff1bf;;*/
}

/* Wrapper na sekcję logowania */
.wrapper {
  flex: 1.2; /* Powiększenie sekcji logowania */
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #fef9ed;*/
  margin: 0;
}

/* Sekcja logowania */
.sign-in-container {
  width: 600px; /* Zwiększenie szerokości formularza */
  padding: 40px; /* Zwiększenie paddingu */
  border: 1px solid #eaeaea;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Nagłówki w sekcji logowania */
h2 {
  font-size: 28px; /* Powiększenie nagłówka */
  margin-bottom: 30px;
  font-weight: 500;
}

/* Pola formularza */
.form-group {
  position: relative;
  margin-bottom: 25px; /* Większy odstęp między polami */
  text-align: left;
}

input {
  width: 100%;
  padding: 12px; /* Większy padding wewnętrzny */
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px; /* Powiększenie tekstu w polach */
  box-sizing: border-box;
}

/* Styl dla kontenera hasła */
.password-group {
  position: relative;
}

.password-input-container {
  position: relative;
  width: 100%;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px 40px 12px 12px; /* Większy padding z lewej i prawej strony */
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px; /* Powiększenie tekstu */
  box-sizing: border-box;
}

/* Przycisk pokazujący/ukrywający hasło */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-password mat-icon {
  font-size: 24px;
  color: #666;
}

/* Linki zapomnianego hasła */
.forgot-password {
  margin-bottom: 25px; /* Większy odstęp nad linkiem */
  text-align: right;
}

.forgot-password a {
  color: #000;
  text-decoration: none;
  font-size: 14px; /* Powiększenie tekstu linku */
}

/* Przyciski */
.btn {
  width: 100%;
  padding: 14px; /* Większy padding dla przycisku */
  border: none;
  border-radius: 25px;
  font-size: 1.1em; /* Powiększenie tekstu przycisku */
  cursor: pointer;
}

.btn-primary {
  background-color: #f8d64e;
  color: #000;
  font-weight: bold;
}

.btn-secondary {
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
  margin-top: 25px;
  border: 1px solid #eaeaea;
}

.new-client {
  margin-top: 50px; /* Większy odstęp od formularza */
  padding: 20px; /* Większy padding */
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-size: 16px; /* Powiększenie tekstu */
}

/* Sekcja informacyjna */
.info-section {
  flex: 1; /* zajmuje drugą połowę przestrzeni */
  background-color: #f1f1f1; /* Pastelowy odcień dla prawej części */
  display: flex; /* Umożliwia wyśrodkowanie obrazu */
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center; /* Wyśrodkowanie w pionie */
}

.image {
  max-width: 100%; /* Obrazek nie wyjdzie poza szerokość kontenera */
  height: 100%; /* Zachowanie proporcji obrazu */
  width: 100%; /* Obrazek zajmie całą szerokość kontenera */
}
