<p-dialog [(visible)]="visible" [modal]="true" styleClass="modern-dialog" (onHide)="close()">
  <ng-template pTemplate="header">
    <h2 class="dialog-title">{{ vaccination.vaccinationName || 'Szczegóły szczepienia' }}</h2>
  </ng-template>
  <div class="dialog-content" *ngIf="vaccination">
    <div class="details-container">
      <div class="detail-row">
        <span class="detail-label">Data szczepienia</span>
        <span class="detail-value">{{ vaccination.vaccinationDate | date: 'dd.MM.yyyy' }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Data kolejnego szczepienia:</span>
        <span class="detail-value">{{ vaccination.nextVaccinationDate | date: 'dd.MM.yyyy' }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Powiadomienie wysłane:</span>
        <span class="detail-value">{{ vaccination.isNotificationSent ? 'Tak' : 'Nie' }}</span>
      </div>
    </div>
  </div>
</p-dialog>
