<div class="loading-container" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="main-container" *ngIf="!isLoading && pet">
  <app-pet-header
    [pet]="pet"
    (photoUpdated)="onPhotoUpdated()"
    (editPet)="editPet()"
    (deletePet)="confirmDeletePet()">
  </app-pet-header>

  <app-pet-info-cards [pet]="pet"></app-pet-info-cards>

  <div class="tabs-section">
    <app-health-record-tab
      *ngIf="pet"
      [healthRecordId]="pet.healthRecordId"
    >
    </app-health-record-tab>
  </div>
</div>

<p-toast></p-toast>

<app-edit-pet-form
  *ngIf="showEditDialog"
  [(visible)]="showEditDialog"
  [petData]="pet"
  (saved)="onPetUpdated()">
</app-edit-pet-form>

<p-confirmDialog></p-confirmDialog>
