<div class="home-wrapper">
  <h1 class="page-title">Nasze Zwierzęta</h1>

  <div class="pet-list-container">
    <app-pet-item
      *ngFor="let pet of pets"
      [pet]="pet"
      class="pet-item"
    ></app-pet-item>
  </div>

  <div class="pagination-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="pageIndex * pageSize"
      [rows]="pageSize"
      [totalRecords]="totalCount"
      [rowsPerPageOptions]="[4, 6, 12, 18]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Wyświetlono {first} - {last} z {totalRecords}"
    ></p-paginator>
  </div>
</div>
