<!-- my-pets.component.html -->
<div class="container">
  <div class="header">
    <h1>Moje Zwierzęta</h1>
  </div>

  <div class="pets-grid" [class.is-loading]="loading">
    <app-pet-item
      *ngFor="let pet of pets"
      [pet]="pet">
    </app-pet-item>

    <div *ngIf="loading" class="loader">
      <p-progressSpinner strokeWidth="4"></p-progressSpinner>
    </div>
  </div>
  <div class="pagination-container">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="pageIndex * pageSize"
      [rows]="pageSize"
      [totalRecords]="totalCount"
      [rowsPerPageOptions]="[4, 6, 12, 18]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Wyświetlono {first} - {last} z {totalRecords}"
    ></p-paginator>
  </div>

  <div class="add-pet-container">
    <p-button
      label="Dodaj zwierzę"
      icon="pi pi-plus"
      [rounded]="true"
      styleClass="custom-blue-button"
      (onClick)="showAddPetDialog()"
    ></p-button>
  </div>

  <app-pet-form></app-pet-form>
</div>
