<div class="container">
  <div class="header">
    <h1>Moje Zwierzęta</h1>
  </div>

  <ng-container *ngIf="response.items.length > 0; else emptyCollection">
  <div class="pets-grid" [class.is-loading]="loading">
    <app-pet-item
      *ngFor="let pet of response.items; let i = index"
      [pet]="pet"
      [index]="i">
    </app-pet-item>

    <div *ngIf="loading" class="loader">
      <p-progressSpinner strokeWidth="4"></p-progressSpinner>
    </div>
  </div>

    <app-paginator
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [totalRecords]="response.totalCount"
      (pageChange)="onPageChange($event)"
    ></app-paginator>

  </ng-container>

  <ng-template #emptyCollection>
    <div class="empty-state" *ngIf="response.items.length === 0">
      <i class="pi pi-users text-6xl mb-4 text-gray-400"></i>
      <h2>Brak zwierząt</h2>
      <p>Aktualnie w systemie nie ma zwierząt przypisanych do twojego konta.</p>
    </div>
  </ng-template>

  <div class="add-pet-container">
    <p-button
      label="Dodaj zwierzę"
      icon="pi pi-plus"
      [rounded]="true"
      styleClass="custom-blue-button"
      (onClick)="showAddPetDialog()"
    ></p-button>
  </div>

  <app-pet-form></app-pet-form>
</div>
