.pets-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

.pets-grid {
  display: grid;
  width: 100%;
  max-width: 1600px;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}
