<div class="split-container">
  <div class="form-section">
    <app-brand-header brandName="Zarejestruj się">></app-brand-header>

    <p class="subtitle">Dołącz do naszej społeczności opiekunów zwierząt!</p>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <app-form-input
        id="email"
        type="email"
        label="Adres email"
        placeholder="Wprowadź swój email"
        [control]="$any(signUpForm.get('email'))"
        errorMessage="Wprowadź poprawny adres email"
      ></app-form-input>

      <app-form-input
        id="password"
        type="password"
        label="Hasło"
        placeholder="Wprowadź hasło (min. 6 znaków)"
        [control]="$any(signUpForm.get('password'))"
        errorMessage="Hasło musi mieć co najmniej 6 znaków"
      ></app-form-input>

      <button type="submit" [disabled]="signUpForm.invalid">
        Załóż konto
      </button>

      <div class="new-client">
        <p>Masz już konto? <a (click)="navigateToSignIn()">Zaloguj się</a></p>
      </div>
    </form>
  </div>

  <div class="brand-section">
    <h2>Witaj w Pet Manager</h2>
    <p>Dołącz do naszej społeczności i zacznij lepiej dbać o swojego pupila!</p>

    <app-brand-features></app-brand-features>
  </div>
</div>
