<p-dialog [(visible)]="visible" [modal]="true" styleClass="modern-dialog" (onHide)="close()">
  <ng-template pTemplate="header">
    <h2 class="dialog-title">{{ appointment?.title || 'Szczegóły wizyty' }}</h2>
  </ng-template>

  <div class="dialog-content" *ngIf="appointment">
    <form [formGroup]="appointmentForm" class="details-container">
      <div class="detail-row">
        <span class="detail-label">Data wizyty:</span>
        <span class="detail-value">{{ appointment.appointmentDate | date: 'dd.MM.yyyy' }}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">Diagnoza</span>
        <textarea
          pInputTextarea
          formControlName="diagnosis"
          [rows]="3"
          placeholder="Wprowadź diagnozę">
            </textarea>
      </div>

      <div class="detail-row">
        <span class="detail-label">Notatki:</span>
        <textarea
          pInputTextarea
          formControlName="notes"
          [rows]="4"
          placeholder="Wprowadź notatki">
            </textarea>
      </div>

      <div class="detail-row">
        <span class="detail-label">Powiadomienie wysłane:</span>
        <span class="detail-value"
              [class.notification-status-sent]="appointment.isNotificationSent"
              [class.notification-status-pending]="!appointment.isNotificationSent">
              {{ appointment.isNotificationSent ? 'Tak' : 'Nie' }}
            </span>
      </div>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <button
        pButton
        label="Anuluj"
        class="p-button-text"
        (click)="close()">
      </button>
      <button
        pButton
        label="Zapisz"
        (click)="saveChanges()"
        [disabled]="!appointmentForm.dirty || appointmentForm.invalid">
      </button>
    </div>
  </ng-template>
</p-dialog>
