<div class="split-container">
  <div class="form-section">
    <app-brand-header></app-brand-header>

    <h1 class="title">Zarejestruj się</h1>
    <p class="subtitle">Dołącz do naszej społeczności opiekunów zwierząt!</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <app-form-input
        id="email"
        type="email"
        label="Adres email"
        placeholder="Wprowadź swój email"
        [control]="$any(resetPasswordForm.get('email'))"
        errorMessage="Wprowadź poprawny adres email"
      ></app-form-input>

      <button type="submit" [disabled]="resetPasswordForm.invalid">
        Wyślij link
      </button>

    </form>
  </div>

  <div class="brand-section">
    <h2>Odzyskaj dostęp do konta</h2>
    <p>Nie martw się. Wyślemy Ci instrukcje resetowania hasła na Twojego maila.</p>
    <app-brand-features></app-brand-features>
  </div>
</div>
